.content {
  width: 206px;
  min-height: 352px;
  padding: 12px;
  border-radius: var(--button-border-radius);
  box-shadow: 0px 100px 80px rgba(119, 119, 119, 0.03),
    0px 30px 24px rgba(119, 119, 119, 0.04),
    0px 12px 10px rgba(119, 119, 119, 0.03),
    0px 4px 3px rgba(119, 119, 119, 0.02);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.cat_color_box {
  padding: 10px;
  border: 1px solid var(--logout-btn-border);
  border-radius: var(--button-border-radius);
  background-color: #f2f1ed;
  margin-top: auto;
  margin-bottom: 12px;
}

.status_badge {
  padding: 8px 10px;
  border-radius: 14px;
  margin-bottom: 10px;
}

.status_home {
  background: #edf7ed;
}

.status_foster {
  background: #fff1dd;
}

.status_text {
  font-weight: 600;
  color: #212121;
}

.contract {
  min-height: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat_color {
  font-weight: 600;
}

.name_n_date_box {
  width: 100%;
  text-align: center;
}

.data_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.link {
  width: 100%;
  height: 160px;
}

@media screen and (max-width: 800px) {
  .content {
    width: 196px;
  }
}

@media screen and (max-width: 481px) {
  .content {
    width: 100%;
  }

  .img {
    height: 205px;
  }

  .link {
    height: 205px;
  }

  .data_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 0;
  }

  .name {
    margin-top: 12px;
    margin-bottom: 2px;
  }

  .date {
    margin-bottom: 0;
  }
}
